* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
header {
  height: 125px;
  background-color: #1abc9c;
  z-index: 0;
}
.wrapper {
  position: absolute;
  top: 15%;
  left: 10%;
  min-width: 80%;
  /* background-color: red; */
  display: flex;
 }
 /* SEZIONE SINISTRA */
 .side-name {
   width: 35%;
   height: 100%;
 }
 /* PRIMA SEZIONE PROFILO UTENTE */
 .il-mio-profilo{
   height: 75px;
   background-color: lightgrey;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
  .il-mio-profilo img{
    border-radius: 100%;
    width: 50px;
    margin: 10px;
  }
  .icon-profile .fa-circle-notch,
  .fa-comment-alt,
  .fa-ellipsis-v,
  .fa-search,
  .fa-paperclip{
    font-size: 25px;
    margin: 10px;
    color: grey;
  }
  /* ---SEZIONE NOTIFICA */
  .notification {
    height: 75px;
    background-color: skyblue;
    display: flex;
    align-items: center;
  }
  .fa-bell-slash{
    font-size: 25px;
    color:skyblue;
  }
  .div-bell{
    background-color: white;
    width: 50px;
    height: 45px;
    padding: 10px;
    margin:0 25px;
    border-radius: 100%;
  }
  .text-notification h3{
    font-size: 15px;
  }
  .text-notification h4{
    font-size: 15px;
    color: grey;
    text-decoration: underline;
    cursor: pointer;
  }
  /* INPUT CERCA */
  .input{
    height: 40px;
    background-color: green;
    position: relative;


  }
  .input input{
    width: 95%;
    height: 90%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

  }
  /* #cerca {
    background-image: url('../img/search.png');
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 10px;
    align-items: center;
  } */
/* CONTATTI */
.contatti{
  min-height: 700px;
  background-color: #f4f2f2;
  overflow-y: scroll;
}
.mex-contatto{
  display: flex;
  align-items: center;
}
.mex-contatto img{
  height: 65px;
  border-radius: 100%;
  margin: 10px;
}
.anteprima-mex h4{
  margin-top: 5px;
  color: grey;
}
/* --------------FINE PARTE CONTATTI */
/* ---------------INIZIO PARTE MESSAGGIO */
.side-message{
  width: 65%;
  min-height: 700px;
  background-image: url(../img/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
}
.navbar-contatto-selezionato{
  width: 100%;
  height: 75px;
  background-color: lightgrey;
  border-left: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-contatto-selezionato img{
  border-radius: 100%;
  width: 50px;
  margin: 30px;
}
.contatto-side-message{
  display: flex;
  align-items: center;
}
.contatto-side-message p{
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.contatto-side-message h5{
  color: grey;
}
