* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  position: relative;
  font-family: 'Raleway', sans-serif;
}
header {
  height: 125px;
  background-color: #1abc9c;
  z-index: 0;
}
.wrapper {
  position: absolute;
  top: 15%;
  left: 10%;
  min-width: 80%;
  height: 95vh;
  background-color: red;
 }
 /* SEZIONE SINISTRA */
 .side-name {
   background-color: blue;
   width: 35%;
   height: 100%;
 }
 /* PRIMA SEZIONE PROFILO UTENTE */
 .il-mio-profilo{
   height: 75px;
   background-color: lightgrey;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
  .il-mio-profilo img{
    border-radius: 100%;
    width: 50px;
    margin: 10px;
  }
  .icon-profile .fa-circle-notch,
  .fa-comment-alt,
  .fa-ellipsis-v{
    font-size: 25px;
    margin: 10px;
    color: grey;
  }
  /* ---SEZIONE NOTIFICA */
  .notification {
    height: 75px;
    background-color: skyblue;
    display: flex;
    align-items: center;
  }
  .fa-bell-slash{
    font-size: 25px;
    color:skyblue;
  }
  .div-bell{
    background-color: white;
    width: 50px;
    height: 45px;
    padding: 10px;
    margin:0 25px;
    border-radius: 100%;
  }
  .text-notification h3{
    font-size: 15px;
  }
  .text-notification h4{
    font-size: 15px;
    color: grey;
    text-decoration: underline;
    cursor: pointer;
  }
  /* INPUT CERCA */
  .input{
    height: 40px;
    background-color: green;
    position: relative;


  }
  .input input{
    width: 95%;
    height: 90%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

  }
  /* #cerca {
    background-image: url('../img/search.png');
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 10px;
    align-items: center;
  } */
/* CONTATTI */
.contatti{
  background-color: pink;
  height:90vh;
}
