* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  position: relative;
}
header {
  height: 125px;
  background-color: #1abc9c;
  z-index: 0;
}
.wrapper {
  position: absolute;
  top: 15%;
  left: 10%;
  min-width: 80%;
  height: 95vh;
  background-color: red;
 }
 .side-name {
   background-color: blue;
   width: 35%;
   height: 100%;
 }
 .il-mio-profilo{
   height: 75px;
   background-color: lightgrey;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
  .il-mio-profilo img{
    border-radius: 100%;
    width: 50px;
    margin: 10px;
  }
  .icon-profile .fa-circle-notch,
  .fa-comment-alt,
  .fa-ellipsis-v{
    font-size: 25px;
    margin: 10px;
    color: grey;
  }
